<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyfiref.schedule.mapper.ItemMapper">
    <select id="selectAllItems" resultType="Item">
        select * from schedule order by id
    </select>
    <update id="updateItemById">
        update schedule set
        start_time = #{startTime},end_time = #{endTime},`desc` = #{desc}
        where id = #{id}
    </update>
    <delete id="deleteItemById" parameterType="Item">
        delete from schedule where id = #{id}
    </delete>
    <insert id="insertItem" parameterType="Item">
        insert into schedule(start_time,end_time,`desc`)
        values (#{startTime},#{endTime},#{desc})
    </insert>
    <select id="selectItemById">
        select * from schedule where id = #{id}
    </select>
</mapper>